facturas_historico_v4.json
{
  "name": "Facturas Históricas Gmail → Odoo v4",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 0 1 1 *"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [0, 0],
      "id": "aaa00010-0001-0001-0001-000000000010",
      "name": "Ejecutar Manual (una vez)"
    },
    {
      "parameters": {
        "operation": "getAll",
        "returnAll": true,
        "filters": {
          "labelIds": ["Label_12"],
          "receivedAfter": "2026-01-01T00:00:00.000Z"
        },
        "options": {
          "downloadAttachments": true
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [220, 0],
      "id": "aaa00010-0001-0001-0001-000000000011",
      "name": "Obtener Emails FacturasGPT",
      "credentials": {
        "gmailOAuth2": {
          "id": "fuHqGQxKsp1Kq2Ku",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "has-attachment-001",
              "leftValue": "={{ $binary && $binary.attachment_0 ? 'yes' : 'no' }}",
              "rightValue": "yes",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [440, 0],
      "id": "aaa00010-0001-0001-0001-000000000030",
      "name": "¿Tiene adjunto PDF?"
    },
    {
      "parameters": {
        "operation": "pdf",
        "binaryPropertyName": "attachment_0",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [660, -200],
      "id": "aaa00010-0001-0001-0001-000000000013",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "jsCode": "// El email no tiene adjunto PDF — usamos el texto del cuerpo del email\nconst texto = $json.text || $json.snippet || '';\nreturn [{ json: { text: texto } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [660, 200],
      "id": "aaa00010-0001-0001-0001-000000000031",
      "name": "Usar texto del email"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=",
        "messages": {
          "messageValues": [
            {
              "type": "HumanMessagePromptTemplate",
              "message": "=Devuelve solo un objeto JSON válido, sin explicaciones, sin bloques markdown y sin texto antes ni después.\n\nUsa exactamente estas claves:\n{\n  \"proveedor\": \"\",\n  \"cif\": \"\",\n  \"fecha\": \"\",\n  \"numero\": \"\",\n  \"base\": 0,\n  \"iva\": 0,\n  \"total\": 0\n}\n\nReglas:\n- \"fecha\" en formato YYYY-MM-DD\n- \"base\", \"iva\" y \"total\" deben ser números\n- si no encuentras un dato, usa \"\" o 0\n- no uses la clave \"text\"\n- no envuelvas el JSON dentro de comillas\n- el campo \"iva\" debe ser el importe del IVA en euros, no el porcentaje\n\nTexto de la factura:\n{{$json.text}}"
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [880, 0],
      "id": "aaa00010-0001-0001-0001-000000000014",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [1040, 220],
      "id": "aaa00010-0001-0001-0001-000000000015",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "PQbteHGXPvL3dmtJ",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const raw = $json.text;\nconst limpio = JSON.parse(raw);\n\n// Limpiar CIF: quitar guiones, espacios y convertir a mayúsculas\nlimpio.cif_limpio = limpio.cif ? limpio.cif.replace(/[-\\s]/g, '').toUpperCase() : '';\n\n// Si no hay datos suficientes para crear factura, la saltamos\nif (!limpio.proveedor && !limpio.total) {\n  return [];\n}\n\nreturn [{ json: limpio }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1100, 0],
      "id": "aaa00010-0001-0001-0001-000000000016",
      "name": "Parsear JSON factura"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://pc-repair1.odoo.com/jsonrpc",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"jsonrpc\": \"2.0\",\n  \"method\": \"call\",\n  \"params\": {\n    \"service\": \"common\",\n    \"method\": \"login\",\n    \"args\": [\n      \"pc-repair1\",\n      \"info@pc-repair.es\",\n      \"8e656cac6c146c05205a7a196ca4aa90c03dde1c\"\n    ]\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [1320, 0],
      "id": "aaa00010-0001-0001-0001-000000000017",
      "name": "Login Odoo"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://pc-repair1.odoo.com/jsonrpc",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"jsonrpc\": \"2.0\",\n  \"method\": \"call\",\n  \"params\": {\n    \"service\": \"object\",\n    \"method\": \"execute_kw\",\n    \"args\": [\n      \"pc-repair1\",\n      {{ $node[\"Login Odoo\"].json[\"result\"] }},\n      \"8e656cac6c146c05205a7a196ca4aa90c03dde1c\",\n      \"account.move\",\n      \"search_read\",\n      [\n        [\n          [\"ref\", \"=\", \"{{ $node[\"Parsear JSON factura\"].json.numero }}\"],\n          [\"move_type\", \"=\", \"in_invoice\"]\n        ]\n      ],\n      {\n        \"fields\": [\"id\", \"ref\"],\n        \"limit\": 1\n      }\n    ]\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [1540, 0],
      "id": "aaa00010-0001-0001-0001-000000000018",
      "name": "Comprobar Duplicado"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "dup-check-001",
              "leftValue": "={{ $json.result.length }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [1760, 0],
      "id": "aaa00010-0001-0001-0001-000000000019",
      "name": "¿Es duplicado?"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://pc-repair1.odoo.com/jsonrpc",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"jsonrpc\": \"2.0\",\n  \"method\": \"call\",\n  \"params\": {\n    \"service\": \"object\",\n    \"method\": \"execute_kw\",\n    \"args\": [\n      \"pc-repair1\",\n      {{ $node[\"Login Odoo\"].json[\"result\"] }},\n      \"8e656cac6c146c05205a7a196ca4aa90c03dde1c\",\n      \"res.partner\",\n      \"search_read\",\n      [\n        [\n          [\"vat\", \"=\", \"{{ $node[\"Parsear JSON factura\"].json.cif_limpio }}\"]\n        ]\n      ],\n      {\n        \"fields\": [\"id\", \"name\", \"vat\"],\n        \"limit\": 1\n      }\n    ]\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [1980, -200],
      "id": "aaa00010-0001-0001-0001-000000000020",
      "name": "Buscar Proveedor"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "prov-check-001",
              "leftValue": "={{ $json.result.length }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt",
                "name": "filter.operator.gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [2200, -200],
      "id": "aaa00010-0001-0001-0001-000000000021",
      "name": "¿Proveedor existe?"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://pc-repair1.odoo.com/jsonrpc",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"jsonrpc\": \"2.0\",\n  \"method\": \"call\",\n  \"params\": {\n    \"service\": \"object\",\n    \"method\": \"execute_kw\",\n    \"args\": [\n      \"pc-repair1\",\n      {{ $node[\"Login Odoo\"].json[\"result\"] }},\n      \"8e656cac6c146c05205a7a196ca4aa90c03dde1c\",\n      \"res.partner\",\n      \"create\",\n      [\n        {\n          \"name\": \"{{ $node[\"Parsear JSON factura\"].json.proveedor }}\",\n          \"vat\": \"{{ $node[\"Parsear JSON factura\"].json.cif_limpio }}\",\n          \"supplier_rank\": 1\n        }\n      ]\n    ]\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [2420, 0],
      "id": "aaa00010-0001-0001-0001-000000000022",
      "name": "Crear Proveedor Nuevo"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://pc-repair1.odoo.com/jsonrpc",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"jsonrpc\": \"2.0\",\n  \"method\": \"call\",\n  \"params\": {\n    \"service\": \"object\",\n    \"method\": \"execute_kw\",\n    \"args\": [\n      \"pc-repair1\",\n      {{ $node[\"Login Odoo\"].json[\"result\"] }},\n      \"8e656cac6c146c05205a7a196ca4aa90c03dde1c\",\n      \"account.move\",\n      \"create\",\n      [\n        {\n          \"move_type\": \"in_invoice\",\n          \"partner_id\": {{ $node[\"Buscar Proveedor\"].json.result[0].id }},\n          \"invoice_date\": \"{{ $node[\"Parsear JSON factura\"].json.fecha }}\",\n          \"ref\": \"{{ $node[\"Parsear JSON factura\"].json.numero }}\",\n          \"invoice_line_ids\": [\n            [0, 0, {\n              \"name\": \"Factura {{ $node[\"Parsear JSON factura\"].json.proveedor }}\",\n              \"quantity\": 1,\n              \"price_unit\": {{ $node[\"Parsear JSON factura\"].json.base }}\n            }]\n          ]\n        }\n      ]\n    ]\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [2420, -400],
      "id": "aaa00010-0001-0001-0001-000000000023",
      "name": "Crear Factura (proveedor existe)"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://pc-repair1.odoo.com/jsonrpc",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"jsonrpc\": \"2.0\",\n  \"method\": \"call\",\n  \"params\": {\n    \"service\": \"object\",\n    \"method\": \"execute_kw\",\n    \"args\": [\n      \"pc-repair1\",\n      {{ $node[\"Login Odoo\"].json[\"result\"] }},\n      \"8e656cac6c146c05205a7a196ca4aa90c03dde1c\",\n      \"account.move\",\n      \"create\",\n      [\n        {\n          \"move_type\": \"in_invoice\",\n          \"partner_id\": {{ $node[\"Crear Proveedor Nuevo\"].json.result }},\n          \"invoice_date\": \"{{ $node[\"Parsear JSON factura\"].json.fecha }}\",\n          \"ref\": \"{{ $node[\"Parsear JSON factura\"].json.numero }}\",\n          \"invoice_line_ids\": [\n            [0, 0, {\n              \"name\": \"Factura {{ $node[\"Parsear JSON factura\"].json.proveedor }}\",\n              \"quantity\": 1,\n              \"price_unit\": {{ $node[\"Parsear JSON factura\"].json.base }}\n            }]\n          ]\n        }\n      ]\n    ]\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [2640, 0],
      "id": "aaa00010-0001-0001-0001-000000000024",
      "name": "Crear Factura (proveedor nuevo)"
    }
  ],
  "pinData": {},
  "connections": {
    "Ejecutar Manual (una vez)": {
      "main": [[{ "node": "Obtener Emails FacturasGPT", "type": "main", "index": 0 }]]
    },
    "Obtener Emails FacturasGPT": {
      "main": [[{ "node": "¿Tiene adjunto PDF?", "type": "main", "index": 0 }]]
    },
    "¿Tiene adjunto PDF?": {
      "main": [
        [{ "node": "Extract from File", "type": "main", "index": 0 }],
        [{ "node": "Usar texto del email", "type": "main", "index": 0 }]
      ]
    },
    "Extract from File": {
      "main": [[{ "node": "Basic LLM Chain", "type": "main", "index": 0 }]]
    },
    "Usar texto del email": {
      "main": [[{ "node": "Basic LLM Chain", "type": "main", "index": 0 }]]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [[{ "node": "Basic LLM Chain", "type": "ai_languageModel", "index": 0 }]]
    },
    "Basic LLM Chain": {
      "main": [[{ "node": "Parsear JSON factura", "type": "main", "index": 0 }]]
    },
    "Parsear JSON factura": {
      "main": [[{ "node": "Login Odoo", "type": "main", "index": 0 }]]
    },
    "Login Odoo": {
      "main": [[{ "node": "Comprobar Duplicado", "type": "main", "index": 0 }]]
    },
    "Comprobar Duplicado": {
      "main": [[{ "node": "¿Es duplicado?", "type": "main", "index": 0 }]]
    },
    "¿Es duplicado?": {
      "main": [
        [{ "node": "Buscar Proveedor", "type": "main", "index": 0 }],
        []
      ]
    },
    "Buscar Proveedor": {
      "main": [[{ "node": "¿Proveedor existe?", "type": "main", "index": 0 }]]
    },
    "¿Proveedor existe?": {
      "main": [
        [{ "node": "Crear Factura (proveedor existe)", "type": "main", "index": 0 }],
        [{ "node": "Crear Proveedor Nuevo", "type": "main", "index": 0 }]
      ]
    },
    "Crear Proveedor Nuevo": {
      "main": [[{ "node": "Crear Factura (proveedor nuevo)", "type": "main", "index": 0 }]]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "ea138b6c-776a-40ec-b1fe-4d9de74ae831",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "dc39eb2b05c51ef8734072f8cd615e247d44501618128d7b60fea9117ea0b230"
  },
  "id": "HISTORICO003FACTURAS",
  "tags": [
    {
      "updatedAt": "2026-03-22T20:40:58.183Z",
      "createdAt": "2026-03-22T20:40:58.183Z",
      "id": "NgscqGGT8KGNtE60",
      "name": "Facturas automáticas"
    }
  ]
}
